* {
    margin: 0px;
}

header {
    padding-bottom: 30px;
    text-align: center;
    background-color: #E74C3C;
}

#name-address {
    display: inline-block;
}

h1 {
    font-family: "Segoe UI";
    font-size: 50px;
}

h2 {
    font-family: "Segoe UI";
    font-size: 30px;
    padding-bottom: 20px;
    color: #CACFD2;
}

address {
    font-size: 20px;
}

main {
    background-color: #D0D3D4;
    padding: 8px;
}

.resume-section {
    border: solid 8px #34495E;
    padding: 30px;
    margin-bottom: 8px;
    min-height: 100px;
    font-family: "Frutiger Linotype";
    font-size: 20px;
    color: #EAEDED;
}

#profile {
    background-color: #27AE60;
}

.tec {
    color: #003399;
    font-weight: bold;
}

#experience {
    background-color: #2980B9;
}

#certifications {
    background-color: #27AE60;
}

#education {
    background-color: #2980B9;
}

#languages {
    background-color: #27AE60;
}